<html>
<head>
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
<title>testpage</title>
</head>
<body>
<!-- crossorigin type='video/mp4'이 있으면  Cross Origin 에러 발생-->
<video id="my-video" class="video-js vjs-default-skin" controls autoplay="false" preload="auto" data-setup="{}" crossorigin type='video/mp4' width="720px" height="480px">
    <source src="https://nuridevlog.blob.core.windows.net/vedio/hello.mp4" type="video/mp4"/>
</video>
<img src="https://nuridevlog.blob.core.windows.net/img/a.jpg">
  <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
</body>
</html>